@font-face {
    font-family: "SpectralSC";
    src: url("./assets/fonts/SpectralSC-Regular.woff");
    font-style: normal;
}

@font-face {
    font-family: "Charm-Bold";
    src: url("./assets/fonts/Charm-Bold.woff");
    font-style: bold;
}

/* Reset Style */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0; 
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

label {
    display: block;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

:root {
    --bg-clr: #100202;
    --section-clr: #100202af;
    --text-clr: #fff;
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --form-row-width: calc(250px + 10vw);

}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-clr);
    color: var(--text-clr);
    font-family: "SpectralSC", var(--system-ui);
}

header {
    width: 95vw;
    margin-inline: auto;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-image: url("./assets/img/pouring-red-sauce-over-lobster-and-steak.jpg");
    background-size: 100%;
    background-position: center 60%;
    background-repeat: no-repeat;
}

header > nav {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;

    padding-top: 50px;
    padding-bottom: 20px;
    background-color: var(--bg-clr);
}

nav > button {
    font-size: 1.2rem;
    background: none;
    color: #fff;
    border: none;
    border-bottom: 1px solid transparent;
    transition: border 0.3s linear;

    &:hover {
        border-bottom: 1px solid #fff;
    }
}

h1.title {
    font-size: 3.6rem;
    padding-inline: 15px;
    font-family: "Charm-Bold";
    margin-top: 80px;
    text-align: center;
}

#content {
    padding-block: 50px;
}

.section {
    width: min(700px, 70vw);
    margin-inline: auto;
    background-color: var(--section-clr);
    border: 10px double #fff;
    
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    font-size: 1.2rem;
}

.section > h2 {
    font-size: 2rem;
}

.section + .section {
    margin-top: 2rem;
}

.section#intro {
    border: none;
    font-size: calc(1rem + 0.8vw);
    text-align: center;
}


#open-times ul {
    display: block;
    list-style: none;
    padding: 0;

    & > li {
        display: flex;
        justify-content: space-between;
        gap: 80px;
    }

    & .day {
        font-weight: bold;
    }

    & .time {
        text-align: right;
    }
}

#location > p {
    text-align: center;
}

/*Menu Module*/

.menu > ul {
    padding: 0;
    width: 80%;
}

li.menu-item{
    margin-top: 1.6rem;

    display: grid;
    grid-template-columns: 80% 1fr;
    grid-template-rows: auto auto;

    & > .dish-description {
        grid-row-start: 2;
    }

    & > .dish-price {
        text-align: right;
        font-size: 2rem;
        grid-row: -3 / -1;
    }
}


/*Contact Module*/
#reservation-form > .form-row {
    margin-bottom: 1.2rem;
    width: var(--form-row-width);
}

.section > h2,
.section > h3 {
    width: var(--form-row-width);
    text-align: center;
}

.section > h3 {
    font-size: 1.1rem;
}


.form-row input,
.form-row textarea,
.form-row select {
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 6px;
    color: #fff;
    border: #fff 1px solid;
    border-radius: 3px;
    outline: none;
    background: none;
}


.form-row input,
.form-row textarea {
    appearance: none;
    -webkit-appearance: none;
 
    width: 100%;
   
}

form .full-name {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    width: var(--form-row-width);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.form-row textarea#note {
    resize: none;
    outline: none;
}


/*Dropdown*/
.form-row select#guest-number {
    width: 50px;
    text-align: center;
    
    & > option {
        color: #000000;
    }
}


/*Button*/
button[type='submit'] {
    background: none;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 3px;
    padding: 6px 12px;

    &:hover,
    &:active {
        background: #fff;
        color: var(--bg-clr);
        font-weight: bold;
    }
}


@media only screen and (max-width: 625px) {
    header > h1.title {
        font-size: 3rem;
    }

    #content {
        padding-block: 20px;
    }

    .section {
        width: max(280px, 80vw);
        padding: 1.6rem 1.2rem;
    }

    .menu li.menu-item {
        & > .dish-name {
            font-size: 1.2rem;
        }

        & > .dish-description {
            font-size: 1rem;
        }

        & > .dish-price {
            font-size: 1.6rem;
        }
    }
}


@media only screen and (max-width: 530px) {
    header > h1.title {
        font-size: 2.6rem;
    }

    #open-times ul {
        font-size: 1.1rem;
    }

    #open-times ul {
        font-size: 1rem;
        & > li {
            gap: 40px;
        }
    }

    #location > p {
        font-size: 1rem;
    }

    .menu li.menu-item {
        & > .dish-name {
            font-size: 1rem;
        }

        & > .dish-description {
            font-size: .9rem;
        }
    }
}

@media only screen and (max-width: 445px) {
    header > nav {
        gap: 1rem;

        & button {
            font-size: 1rem;
        }
    }
    
    header > h1.title {
        margin-top: 50px;
    }

    .section {
        padding-inline: 4px;
    }

    .menu li.menu-item {
        & .dish-price {
            font-size: 1.4rem;
        }
    }


    .section > h2 {
        font-size: 1.4rem;
    }

    .section > h3 {
        font-size: 1rem;
    }

    #reservation-form > .form-row,
    #reservation-form > .full-name,
    #reservation-form > h3 {
        width: 220px;
    }

    #reservation-form > .full-name {
        display: block;

        & .form-row + .form-row {
            margin-top: 1.2rem;
        }
    }

    .form-row * {
        font-size: 1rem ;
    }
}

@media only screen and (max-width: 320px) { 
    header h1.title {

        margin-top: 40px;
        font-size: 2.2rem;
    }
}